<mat-toolbar color="accent"><span>Rounds</span></mat-toolbar>

<div *ngIf="rounds.length === 0">
    There are no rounds.
</div>

<div *ngIf="!game.numberOfRounds || game.numberOfRounds === 0">
  Number of rounds is set to 0. Edit the game configuration.
  <button class="mdc-button mdc-button--raised flex-box-item" (click)="configuration()">
    <div class="mdc-button__ripple"></div>
    <!-- <mat-icon>save</mat-icon>     -->
    <span class="mdc-button__label">        
        <span class="mdc-button__label">Edit game config</span>
    </span>
</button>
</div>

<div *ngIf="rounds.length > 0" class="rounds">
    <mat-card class="mdc-card card" *ngFor="let round of rounds">
        <div class="mdc-card__primary-action details" tabindex="0" (click)="view(round)">
          <button class="mdc-button">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Round {{round.number}}</span>
            <!-- <span class="badge">{{player.id}}</span>    -->
            <div class="mdc-card__ripple"></div>
          </button>      
        </div>
        
        <!-- <button class="mdc-button mdc-card__action mdc-card__action--button" title="player details" (click)="view(round)">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label"><mat-icon>edit</mat-icon></span>
        </button> -->
        <button class="mdc-button mdc-card__action mdc-card__action--button" title="delete round" (click)="delete(round)">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label"><mat-icon>delete</mat-icon></span>
        </button>
        
      </mat-card>
</div>

<div *ngIf="game.numberOfRounds > 0 && rounds.length === 0 || (rounds.length < game.numberOfRounds)">
    <button class="mdc-button mdc-button--raised flex-box-item" (click)="startRound(rounds.length + 1)">
        <div class="mdc-button__ripple"></div>
        <!-- <mat-icon>save</mat-icon>     -->
        <span class="mdc-button__label">        
            <span class="mdc-button__label">Start Round {{rounds.length + 1}}</span>
        </span>
    </button>
</div>
