<mat-card class="mdc-card card">
    <div class="mdc-card__primary-action details" tabindex="0" (click)="view(player)">
        <div class="flex-box-rows">
            <div class="mdc-button__label name flex-box-item">
                {{player.displayName}}
                <span *ngIf="currentUser && player.uid === currentUser.uid">(you)</span>
            </div>          
            <div class="mdc-button__label score">{{totalPoints}}</div> 
        </div>
    </div>

    <div *ngIf="this.isAdmin$ | async">
        <button mat-icon-button color="primary" aria-label="game details" title="player details" (click)="view(player)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="delete game" title="delete player" (click)="delete(player)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>            
</mat-card>