<mat-card class="mdc-card card">
    <div class="mdc-card__primary-action details" tabindex="0" (click)="view(player)">
        <div class="flex-box-basic">
        <div class="mdc-button__label name">
            {{player.displayName}}
            <span *ngIf="player.uid === currentUser.uid">(you)</span>
        </div>          
        <!-- // Todo total up player points -->
        <div class="mdc-button__label score">{{totalPoints}}</div> 
        </div>
    </div>

    <div *ngIf="this.isAdmin$ | async">
        <button class="mdc-button mdc-card__action mdc-card__action--button" title="player details" (click)="view(player)">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label"><mat-icon>edit</mat-icon></span>
        </button>
        <button class="mdc-button mdc-card__action mdc-card__action--button" title="delete player" (click)="delete(player)">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label"><mat-icon>delete</mat-icon></span>
        </button>
    </div>            
</mat-card>