<mat-card class="mdc-card card team-card">
    <div>
        <div>Team:</div>
        <app-team-player *ngFor="let teamPlayer of team.teamPlayers" [teamPlayer]="teamPlayer"></app-team-player>
    </div>
    <div>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Points</mat-label>
            <input matInput id="teamPoints" placeholder="0" type="number" pattern="\d*" onclick="this.select()" [formControl]="teamPointsFormControl">
          </mat-form-field>
    </div>          
</mat-card>