<!-- <h2>Top players</h2>
<app-player-search></app-player-search>
<div class="player-list-menu">
  <a *ngFor="let player of players" routerLink="/detail/{{player.id}}">
    {{player.name}}
  </a>
</div> -->

<div class="content">
  <button class="mdc-button mdc-button--raised">
    <div class="mdc-button__ripple"></div>
    <mat-icon>add</mat-icon>    
    <span class="mdc-button__label">        
      <span class="mdc-button__label">Create a new tournament</span>
    </span>
  </button>
</div>
