<div *ngIf="round">

  <app-section-header [sectionName]="sectionName"></app-section-header>
    
  <div class="content flex-box-columns mat-typography">
    <div class="flex-box-item">
      <span class="mat-h3">Round Id: </span>
      <span>{{round.id}}</span>
    </div>

    <div class="flex-box-item">
      <span class="mat-h3">Tables with unconfirmed Points ({{ (unConfirmedTables$ | async)?.length ?? 0 }}): </span>
      <span *ngFor="let table of (unConfirmedTables$ | async); let i = index">
        <span *ngIf="i > 0">, </span>
        <span>Table {{ table.number }}</span>
      </span>
    </div>
    
    <div class="flex-box-item" *ngIf="allTablesPointsConfirmed$ | async">
      <span>All Table's Points Confirmed</span>
    </div>      
  
    <div class="flex-box-item">
      <span>Byes ({{round.byes.length}}): </span>
      <span *ngFor="let player of round.byes; let i = index">
        <span *ngIf="i > 0">, </span>
        <span>{{player.displayName}}</span>              
      </span>
    </div>
  </div>

  <app-tables [tables]="tables" *ngIf="tables"></app-tables>    
</div>