<div class="content" *ngIf="round">

    <mat-toolbar color="accent"><span>Round {{round.number}}</span></mat-toolbar>
    
    <div class="flex-box-basic">
      <div class="flex-box-item">
        <span>id: </span>{{round.id}}
      </div>      
    </div>
    
    <div class="flex-box-basic">
        <div class="flex-box-item">
            <span>Byes ({{round.byes.length}}): </span>
            <span *ngFor="let player of round.byes; let i = index">
              <span *ngIf="i > 0">, </span>
              <span>{{player.displayName}}</span>              
            </span>
        </div>
    </div>

    <mat-toolbar color="accent"><span>Tables</span></mat-toolbar>
    <app-table [table]="table" *ngFor="let table of tables"></app-table>
</div>