<div class="flex-box-basic">
    <mat-toolbar color="accent">
        <div class="flex-box-item">
            <span>{{ sectionName }}</span>
        </div>
        <div>
            <button class="mdc-button mdc-button--raised flex-box-item" (click)="goBack()">
                <div class="mdc-button__ripple"></div>
                <!-- <mat-icon><span class="material-symbols-outlined">arrow_back</span></mat-icon>     -->
                <span class="mdc-button__label">        
                    <span class="mdc-button__label">Back</span>
                </span>
            </button>  
        </div>
    </mat-toolbar>  
</div>