<mat-toolbar color="accent" class="flex-box-rows">
    <div class="flex-box-item flex-box-item-large">Tables</div>
    <div *ngIf="isUserPlayer">
      <div class="flex-box-item">
         <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="filterTables()" *ngIf="isDataFiltered">Show All Tables</button>
      </div>
      <div class="flex-box-item">
        <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="filterTables()" *ngIf="!isDataFiltered">Show My Table</button>
      </div>
    </div>
</mat-toolbar>

<app-table-detail [table]="table" *ngFor="let table of filteredTables"></app-table-detail>