<div class="games">
  <h1 class="mat-h1">Games</h1>

  <mat-toolbar color="accent"><span>Add new game</span></mat-toolbar>

  <div class="content">
    <label for="new-game">Game name: </label>
    <input id="new-game" #gameName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="add(gameName.value); gameName.value=''">
      Add game
    </button>
  </div>

  <mat-toolbar color="accent"><span>Game List</span></mat-toolbar>
  <div class="games">      
    <mat-card class="mdc-card card" *ngFor="let game of games">
      <div class="mdc-card__primary-action details" tabindex="0">
        <button class="mdc-button" (click)="dashboard(game)">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">{{game.name}}</span>
          <!-- <span class="badge">{{player.id}}</span>    -->
          <div class="mdc-card__ripple"></div>
        </button>      
      </div>
      
      <button class="mdc-button mdc-card__action mdc-card__action--button" title="game details" (click)="configuration(game)">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label"><mat-icon>edit</mat-icon></span>
      </button>
      <button class="mdc-button mdc-card__action mdc-card__action--button" title="delete game" (click)="delete(game)">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label"><mat-icon>delete</mat-icon></span>
      </button>
      
    </mat-card>
  </div>
</div>