<div>
  <mat-toolbar class="mat-h1" color="secondary">Games</mat-toolbar>

  <mat-toolbar color="accent"><span>Add new game</span></mat-toolbar>

  <div class="content flex-box-rows">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Game name</mat-label>
        <input matInput id="new-game" #gameName placeholder="Angela's Euchre Tournament" value="">
      </mat-form-field>
    </div>

    <div>
      <!-- (click) passes input value to add() and then clears the input -->
      <button mat-raised-button color="primary" [disabled]="!gameName.value" (click)="add(gameName.value); gameName.value=''">
        <mat-icon>add</mat-icon>    
        <span class="mdc-button__label">        
          <span class="mdc-button__label">Create game</span>
        </span>
      </button>    
    </div>
  </div>

  <mat-toolbar color="accent"><span>Game List</span></mat-toolbar>
  <div class="games">      
    <mat-card class="mdc-card card" *ngFor="let game of games">
      <div class="mdc-card__primary-action details" tabindex="0" (click)="dashboard(game)">        
        <button mat-button (click)="dashboard(game)">{{game.name}}</button>
      </div>
      
      <div *ngIf="gameAdminMap.get(game.id)">
        <button mat-icon-button color="primary" aria-label="game details" title="game details" (click)="configuration(game)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="delete game" title="delete details" (click)="delete(game)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </mat-card>
  </div>
</div>