<div>
  <mat-toolbar class="mat-h1" color="secondary">Tournaments</mat-toolbar>

  <mat-toolbar color="accent"><span>Add new tournament</span></mat-toolbar>

  <div class="content flex-box-rows" *ngIf="isLoggedIn$ | async">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tournament name</mat-label>
        <input matInput id="new-game" #gameName placeholder="Angela's Euchre Tournament" value="">
      </mat-form-field>
    </div>
    <div>
      <!-- (click) passes input value to add() and then clears the input -->
      <button mat-raised-button color="primary" [disabled]="!gameName.value" (click)="add(gameName.value); gameName.value=''">
        <mat-icon>add</mat-icon>    
        <span class="mdc-button__label">        
          <span class="mdc-button__label">Create tournament</span>
        </span>
      </button>    
    </div>
  </div>

  <div class="content" *ngIf="(isLoggedIn$ | async) === false">
    Log in to start creating tournaments.
  </div>

  <mat-toolbar color="accent"><span>Tournaments</span></mat-toolbar>
  <div class="games">      
    <mat-card class="mdc-card card" *ngFor="let game of games">
      <div class="mdc-card__primary-action details" tabindex="0" (click)="dashboard(game)">        
        <button mat-button (click)="dashboard(game)">{{game.name}}</button>
        <div class="game-subtitle" *ngIf="getCreatedDate(game) as createdDate">Created {{ createdDate | date:'shortDate' }}</div>
      </div>
      
      <div *ngIf="gameAdminMap.get(game.id)">
        <button mat-icon-button color="primary" aria-label="tournament setup" title="tournament setup" (click)="configuration(game)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="delete tournament" title="delete tournament" (click)="delete(game)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </mat-card>
  </div>
</div>
