<mat-toolbar color="secondary" class="flex-box-rows">
    <div class="flex-box-item">Table {{table.number}}</div>
    <div>
        <div class="flex-box-item">
            <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="toggleConfirmPoints(true)" *ngIf="!pointsConfirmed">
                <mat-icon>check</mat-icon>
                Confirm Points
            </button>

            <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="toggleConfirmPoints(false)" *ngIf="pointsConfirmed">
                <mat-icon>cancel</mat-icon>
                Change Points
            </button>
        </div>    
    </div>
</mat-toolbar>

<div [ngClass.gt-xs]="'flex-box-rows'"
    [ngClass.lt-sm]="'flex-box-columns'">
    <app-team [team]="team" [table]="table" *ngFor="let team of teams" class="flex-box-item"></app-team>
</div>
