@use "@material/button/styles";
@use "@material/card";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/checkbox";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/dialog";
// @use "@material/form-field";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import '@angular/material/theming';
@import 'firebaseui/dist/firebaseui.css';
@include checkbox.core-styles;
@include textfield.core-styles;
@include dialog.core-styles;
// @include form-field.core-styles;

html {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

app-root,
button,
input,
textarea,
select {
    font-family: inherit;
}

.content {
    padding: 1rem;
}

.flex-box-rows {    
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;    
    vertical-align: middle;
}

.flex-box-columns {    
    display: flex;
    flex-direction: column;
    align-items: left;    
}

.flex-box-item {
    flex: auto;
    flex-basis: 0;
}

.flex-box-item-large {
    flex-grow: 10;
    flex-basis: 0;
}

.flex-box-item-small {
    flex-grow: 1;
}


.justify-content-center {
    justify-content: center;
}

.vertical-align-top {
    vertical-align: top;
}

.dialog-container .mat-dialog-container {
    min-width: 320px;
    padding: 0;
}

.full-width {
    width: 100%;
}

.mat-stroked-button.mat-primary:not(.mat-button-disabled) {
    background-color: #ffffff;
    border-color: #af2f2f;
}

// input[type="text"]:disabled {
//     background: #dddddd;
// }
