<div *ngIf="game">
  <app-section-header [sectionName]="sectionName"></app-section-header>
  <div class="flex-box-rows justify-content-center">
    <div class="flex-box-columns">
      <div class="flex-box-item">
        <span class="mat-h3">Game Id: </span>
        <span class="mat-h3">{{game.id}}</span>
      </div>
      <div class="flex-box-item">
        <span class="mat-h3">Rounds: </span>
        <span class="mat-h3">{{game.numberOfRounds ?? 0}}</span>
      </div>         

      <div>
        <qrcode *ngIf="gameURL" [qrdata]="gameURL" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
    </div>      
  </div>
  
  <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" (selectedIndexChange)="selectTab($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">group</mat-icon> Players
      </ng-template>
      <app-game-players [game]="game"></app-game-players>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">table_bar</mat-icon> Rounds
      </ng-template>
      <app-rounds [game]="game"></app-rounds>
    </mat-tab>
  </mat-tab-group>
</div>
