<div class="content" *ngIf="game">
    <mat-toolbar color="accent"><span>{{game.name | uppercase}} Dashboard</span></mat-toolbar>    

    <div class="content">
        <div><span>Game Id: </span>{{game.id}}</div>        
        <div><span>Rounds: </span>{{game.numberOfRounds}}</div>     

        <qrcode *ngIf="gameURL" [qrdata]="gameURL" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

        <div class="flex-box-basic">
            <button class="mdc-button mdc-button--raised flex-box-item" (click)="goBack()">
                <div class="mdc-button__ripple"></div>                
                <span class="mdc-button__label">        
                    <span class="mdc-button__label">Back</span>
                </span>
            </button>
        </div>
    </div>
    
    <div class="mdc-tab-bar" role="tablist">
        <div class="mdc-tab-scroller">
          <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
              <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0" (click)="selectTab(playersTab)">
                <span class="mdc-tab__content">
                  <span class="mdc-tab__icon material-icons" aria-hidden="true">group</span>
                  <span class="mdc-tab__text-label">Players</span>
                </span>
                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </button>
              <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0" (click)="selectTab(roundsTab)">
                <span class="mdc-tab__content">
                  <span class="mdc-tab__icon material-icons" aria-hidden="true">table_bar</span>
                  <span class="mdc-tab__text-label">Rounds</span>
                </span>
                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    
    <app-game-players *ngIf="selectedTab === playersTab" [game]="game"></app-game-players>
    <app-rounds *ngIf="selectedTab === roundsTab" [game]="game"></app-rounds>
</div>
